In [ ]:
from numpy.random.mtrand import rand
from typing import ValuesView
import pandas as pd
import numpy as np
import random
lista = []
for i in range (3):
  lista.append ([])
  random.seed(0)
  for j in range (3):
    lista[i].append(np.random.rand(1))
print (lista)
pd.DataFrame (lista)

[[array([0.27187625]), array([0.62909561]), array([0.43507352])], [array([0.0449838]), array([0.03381141]), array([0.44964156])], [array([0.33356052]), array([0.25843599]), array([0.22219587])]]

                        0                     1                      2
0     [0.271876253011911]   [0.629095608931775]  [0.43507352399332366]
1  [0.044983803140324574]  [0.0338114148748655]  [0.44964156273635536]
2    [0.3335605210902245]  [0.2584359860571699]  [0.22219587469600044]

In [ ]:

lista

[[array([0.27187625]), array([0.62909561]), array([0.43507352])],
 [array([0.0449838]), array([0.03381141]), array([0.44964156])],
 [array([0.33356052]), array([0.25843599]), array([0.22219587])]]

In [ ]:
lista.pop ()

[array([0.33356052]), array([0.25843599]), array([0.22219587])]

In [ ]:
lista
pd.DataFrame (lista)

                        0                     1                      2
0     [0.271876253011911]   [0.629095608931775]  [0.43507352399332366]
1  [0.044983803140324574]  [0.0338114148748655]  [0.44964156273635536]

AttributeError: ignored